*.exe
!.gitignore
test.c
**/.env

*.o
*.out
*.a
*.so
*.dll

*.swp
*.swo
*.tmp

*.DS_Store
Thumbs.db
Desktop.ini

**/Debug/
**/Release/
/.vscode

Build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

Практическое_задание_12/task2/Craft