*.exe
!.gitignore
test.c

*.o
*.out
*.a
*.so
*.dll

*.swp
*.swo
*.tmp

*.DS_Store
Thumbs.db
Desktop.ini

**/Debug/
**/Release/
/.vscode

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile